nav {
  margin-inline-start: -1rem;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;

  > * {
    padding-inline-start: var(--space-xs);
  }
}

[data-list='icon'] {
  svg {
    vertical-align: middle;
  }
}
